[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Awsome.Link (web part)
[access "refs/*"]
	owner = group user/Max (maksudnurullaev)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Max (maksudnurullaev)
	label-Verified = -1..+1 group user/Max (maksudnurullaev)
	push = group user/Max (maksudnurullaev)
	read = group user/Max (maksudnurullaev)
	rebase = group user/Max (maksudnurullaev)
	removeReviewer = group user/Max (maksudnurullaev)
	submit = group user/Max (maksudnurullaev)
[access "refs/heads/*"]
	create = group user/Max (maksudnurullaev)
	push = +force group user/Max (maksudnurullaev)
	pushMerge = group user/Max (maksudnurullaev)
	read = group user/Max (maksudnurullaev)
[access "refs/tags/*"]
	push = group user/Max (maksudnurullaev)
	push = +force group user/Max (maksudnurullaev)
