#editFrame {
    height: 220px;
    background-color: rgb(220, 220, 220);
};

#editFrame img{
    height: 200px;
};

#editContainer img {
    max-height: 400px;
    max-width: 90%;
    margin-bottom: 10px;
};
